<!DOCTYPE html>
<html>

  {% include 2023_data/head.html %}
  <!-- {% include 2023_data/head.html %} -->

    <body id="page-top" class="index">

    {% include 2023_data/header-home.html %}
    <!-- {% include 2023_data/header-home.html %} -->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GIS-EIA 2023<br></div>
                <div class="intro-lead-in">International Conference on Geospatial Information Science:</div>
                <div class="intro-lead-in">Education, Innovation and Applications</div>
                <div class="intro-lead-in">15 - 16, October, 2023</div>
                <div class="intro-lead-in">LIESMARS, Wuhan University, China</div>
                <a href="#intro" class="page-scroll btn btn-xl">More About</a>
            </div>
        </div>
    </header>

    <!-- {% include 2023_data/intro.html %} -->
    <!-- {% include 2023_data/speakers.html %} -->
    <!-- {% include 2023_data/about.html %} -->
    <!-- {% include 2017_data/sponsors.html %} -->
    {% include 2023_data/contact.html %}
    {% include 2023_data/footer.html %}
    <!-- {% include 2023_data/speakers_info.html %} -->
    <!-- {% include 2016_data/js.html %} -->

    </body>
</html>